<!DOCTYPE html>
<html>
    <head>
        <title>Stock Dashboard</title>
        <style>
            body {font-family: Arial; padding: 20px;}
            h1 {text-align: center; }
            .box {
                margin: auto;
                width: 60%;
                padding: 20px;
                border-radius: 10px;
                background: rgb(14, 105, 14);
                margin-top: 20px;
            }
        </style>
    </head>
   <body>
    <h1> Stock Dashboard</h1>
    <div class="box">
        <h2>Stock levels (in lbs)</h2>
        <p><strong>Food Stock:</strong> {{stock}} kg</p>
    </div>

    <!-- <div class="box">
        <h2>Today's sales</h2>
        <p> {{ today_sales }} pizzas sold</p>
    </div>

    <div class="box">
        <h2>Profit</h2>
        <p> {{profit}}</p>
    </div> -->
</body>
</html>